.DS_Store
node_modules/
/dist/
/examples/**/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage
/test/e2e/reports
selenium-debug.log
package-lock.json
.eslintcache
.firebase

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln



# Created by https://www.gitignore.io/api/firebase
# Edit at https://www.gitignore.io/?templates=firebase

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/

# End of https://www.gitignore.io/api/firebase